anyio==4.15.1
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
click==8.5.0
colorama==0.4.6
curl_cffi==0.15.0
dnspython==2.8.0
Flask==3.1.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
pillow==12.3.0
pycparser==3.0
Pygments==2.21.0
pymongo==4.18.2
pyotp==2.9.0
readerwriterlock==1.0.9
redis==8.1.0
requests==2.31.0
rich==15.0.0
soupsieve==2.10
-e git+https://github.com/Aran404/SpotAPI@1e21506058450b94bfaa0651e9bdfabe042ae6f9#egg=spotapi
typing_extensions==4.16.0
urllib3==2.8.0
validators==0.33.0
websockets==12.0
Werkzeug==3.1.9
youtube-search-python==1.6.6
yt-dlp==2026.8.19
gunicorn
